<div class="home-page">
  <div class="top">
    <h2>Choose your <br> happy place</h2>
  </div>
  <div class= "mid">
    <h3>Recommended</h3>
    <div class="recommended-display">
      <% @mixes.each do |mix|  %>
        <video autoplay loop muted id="mixes-index">
          <source src="<%= Video.find(mix.videos_id).mp4 %>" type="video/mp4">
        </video>
      <% end %>
    </div>
  </div>
  <div class="bottom">
      <div class= "videos">
        <h5>Rainforest</h5>
        <div class= "video-display">
        <% @videos.each do |video| %>
          <%= link_to video_path(video) do %>
          <video autoplay loop muted id="video-index">
            <source src="<%= video.mp4 %>" type="video/mp4">
          </video>
          <% end %>
        <% end %>
        </div >
      </div>
      <div class= "videos">
        <h5>Beach</h5>
        <div class= "video-display">
        <% @videos.each do |video| %>
          <%= link_to video_path(video) do %>
          <video autoplay loop muted id="video-index">
            <source src="<%= video.mp4 %>" type="video/mp4">
          </video>
          <% end %>
        <% end %>
        </div >
      </div>
     <div class= "videos">
        <h5>Mountain</h5>
        <div class= "video-display">
        <% @videos.each do |video| %>
          <%= link_to video_path(video) do %>
          <video autoplay loop muted id="video-index">
            <source src="<%= video.mp4 %>" type="video/mp4">
          </video>
          <% end %>
        <% end %>
        </div >
      </div>
     <div class= "videos">
        <h5>Desert</h5>
        <div class= "video-display">
        <% @videos.each do |video| %>
          <%= link_to video_path(video) do %>
          <video autoplay loop muted id="video-index">
            <source src="<%= video.mp4 %>" type="video/mp4">
          </video>
          <% end %>
        <% end %>
        </div >
      </div>
    </div>
  </div>
</div>
