<div class="container">
  <div class="top">
    <h1>Choose Your <br/> Happy Place</h1>
  </div>
  <h3>Recommended</h3>
  <div>
    <% @mixes.each do |mix|  %>
      <%= video_tag mix.video.mp4, style: 'width: 100px; height: 100px; border-radius: 12px; background: rgba(0, 0, 0, 0.8)' %>
    <% end %>
  </div>
  <div>
    <span>
      <h5>Rainforest</h5>
      <% @videos.each do |video| %>
        <%= link_to video_path(video) do %>
        <video autoplay loop muted id="video-index">
          <source src="<%= video.mp4 %>" type="video/mp4">
        </video>
        <% end %>
      <% end %>
    </span>
     <span>
      <h5>Beach</h5>
      <% @videos.each do |video| %>
        <%= link_to video_path(video) do %>
        <%# <%= video_tag rails_blob_path(video.mp4) %>
          <video autoplay loop muted id="video-index">
            <source src="<%= video.mp4 %>" type="video/mp4">
          </video>
        <% end %>
      <% end %>
    </span>
     <span>
      <h5>Mountain</h5>
      <% @videos.each do |video| %>
        <%= link_to video_path(video) do %>
        <video autoplay loop muted id="video-index">
          <source src="<%= video.mp4 %>" type="video/mp4">
        </video>
        <% end %>
      <% end %>
    </span>
     <span>
      <h5>Desert</h5>
      <% @videos.each do |video| %>
        <%= link_to video_path(video) do %>
        <video autoplay loop muted id="video-index">
          <source src="<%= video.mp4 %>" type="video/mp4">
        </video>
        <% end %>
      <% end %>
    </span>
  </div>
</div>
